<div class="maugiohang" style="background-color: rgb(245, 237, 227); margin-top: 100px;">
    <div class="card giohang">
        <div class="card-header">
            <h3 style="color: rgb(101, 90, 77);"> GIỎ HÀNG CỦA BẠN </h3>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered">
                <tr>
                    <th> Hình </th>
                    <th> Tên </th>
                    <th> Giá </th>
                    <th> Số lượng </th>
                    <th> Xóa </th>
                </tr>
                <tr ng-repeat="sp in giohang">
                    <td>
                        <img src="images/{{sp.image}}" alt="" style="width: 50px; height: 50px;">
                    </td>
                    <td>{{sp.name}}</td>
                    <td>{{sp.price}}</td>
                    <td><input type="number" ng-model="sp.soluong"></td>
                    <td>
                        <button class="btn btn-danger px-3" ng-click = "xoa()"> X </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-footer">
            <h6>
                Tổng tiền: {{tongtien() | number}} VND
            </h6>
        </div>
    </div>
</div>